.header-bar {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: baseline;
}

.header-bar input {
  height: 18px;
  border: 1px solid #231b4a;
  border-radius: 8px;
  padding-left: 12px;
}
.teachers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 16px;
  margin: 40px 40px 0 40px;
  padding: 20px;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.teacher {
  display: flex;
}
.teacher img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #231b4a;
  padding: 1px;
  box-shadow: 0 0 4px #231b4a;
}
.text {
  font-size: 1rem;
  font-weight: bold;
  padding: 4px 0 0 14px;
  color: #211b47;
}
.email {
  font-size: 0.6rem;
  color: #5c578f;
}
